body {
    margin: 50px;
}

main {
    font-family: Poppins, sans-serif;
}

.heading {
    font-family: Teachers, sans-serif;
    font-size: 100px;
    font-weight: bold;
}

span {
    color: rgb(15, 15, 88);
}

.box-1 {
    float: left;
}

.box-data {
    float: right;
    margin-left: 20px;
}

.box-2 {
    float: right;
}

.box-container img {
    width: 300px;
    height: 200px;
}

footer {
    clear: both;
}

footer {
    font-family: Teachers, sans-serif;
    text-align: right;
    color: rgb(15, 15, 88);
    font-size: 20px;
    padding-top: 30px;
}

@media (max-width: 900px) {
    .heading {
        font-size: 40px;
    }

    .box-data {
        float: none;
        margin: 0;
    }

    .logo img {
        width: 100%;
    }

    footer p {   
    text-align: center;
    padding-top: 30px;
    }
}


